/.gitattributes export-ignore
/.github export-ignore
 *.eot binary 
 *.ttf binary 
 *.woff binary 
 *.woff2 binary 
 *.svg binary 
 *.png binary 
 *.jpg binary 
 *.jpeg binary 
 *.gif binary 
 *.ico binary 